body {
    font-family: "lato", sans-serif;
    background-color: rgb(68, 68, 68);
}
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(139, 13, 13);
    overflow-x: hidden;
    padding-top: 20px;
    font-family: 'Bree Serif', serif;
}
hr {
    height: 10px;
    background-color: rgb(56, 44, 44);
}
.sidebar a{
    padding: 6px 8px 6px 18px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background-color: rgb(139, 13, 13);
}
.meaning {
    margin-top: 40px;
    margin-left: 170px;
    color: white;
}
.Gallery {
    background-color: rgb(139, 13, 13);
    border-color:rgb(139, 13, 13);
    border-style: none;
    color: rgb(153, 153, 153);
    font-size: 20px;
}
.Sketching {
    background-color: rgb(139, 13, 13);
    border-color:rgb(139, 13, 13);
    border-style: none;
    color: rgb(153, 153, 153);
    font-size: 20px;
}
.Explanation {
    margin-right: 500px;
    margin-top: 50px;
}
.Sketches {
    margin-left: 1150px;
    width: 400px;
    margin-top: -200px;
}
.my-sketches {
    margin-left: 160px;
    font-size: 40px;
    padding: 0px 10px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;
}
.about-me {
    background-color: rgb(139, 13, 13);
    border-color:rgb(139, 13, 13);
    border-style: none;
    color: rgb(153, 153, 153);
    font-size: 20px;
}
.Gallery:hover {
    color: white;
}
.Sketching:hover {
    color: white;
}
.about-me:hover {
    color: white;
}
.main {
    margin-left: 160px;
    font-size: 35px;
    padding: 0px 10px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;
}
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    margin-left: 12%;
    margin-top: 750px;
}
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 150px;}
    .sidebar a{font-size: 150px;}
    
}
.picture-a {
    margin-left: 200px;
    width: 450px;
    margin-left: 400px;
    margin-bottom: 20px;
}
.picture-b {
    margin-left: 200px;
    width: 450px;
    margin-left: 200px;
    margin-bottom: 20px;
}
.picture-c {
    margin-left: 200px;
    width: 450px;
    margin-left: 400px;
    margin-bottom: 20px;
}
.picture-d {
    margin-left: 200px;
    width: 450px;
    margin-left: 200px;
    margin-bottom: 20px;
}
.picture-e {
    margin-left: 200px;
    width: 450px;
    margin-left: 400px;
    margin-bottom: 100px;
}
.picture-f {
    margin-left: 200px;
    width: 450px;
    margin-left: 200px;
    margin-bottom: 100px;
}
.Github-footer {
    width: 90px;
    height: 90px;
    border-radius: 360px;
    float: center;
    margin-left: 50%;
    margin-right: 45%;
    margin-bottom: -20px;
    margin-top: 30px;
}
.Facebook-Account-mine {
    border-radius: 2000px;
    width: 90px;
    margin-left: 34%;
    margin-top: -200px;
    box-shadow: 0 20px 20px -17px rgb(252, 252, 252);
}
.Instagram-Account-mine {
    border-radius: 2000px;
    width: 90px;
    margin-left: 67%;
    margin-top: -130px;
    box-shadow: 0 20px 20px -17px rgb(253, 0, 0);
}
.Instagram-Account-mine:hover
{
    transform: scale(1.1);
    box-shadow: 0 30px 45px -15px rgba(255, 0, 0, 0.6);
}
.Facebook-Account-mine:hover
{
    transform: scale(1.1);
    box-shadow: 0 30px 45px -15px rgba(25, 0, 255, 0.6);
}
.Github-footer:hover
{
    transform: scale(1.1);
    box-shadow: 0 30px 45px -15px rgba(255, 0, 0, 0.6);
}
@media only screen and (min-width: 375px) {
    .sidebar {
        height: 100%;
        width: 75px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(139, 13, 13);
        overflow-x: hidden;
        padding-top: 20px;
        font-family: 'Bree Serif', serif;
    }
    .sidebar a{
        padding: 6px 8px 6px 18px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        border: none;
        background-color: rgb(139, 13, 13);
    }
    .Gallery {
        background-color: rgb(139, 13, 13);
        border-color:rgb(139, 13, 13);
        border-style: none;
        color: rgb(153, 153, 153);
        font-size: 10px;
        margin-left: -10px;
    }
    .Sketching {
        background-color: rgb(139, 13, 13);
        border-color:rgb(139, 13, 13);
        border-style: none;
        color: rgb(153, 153, 153);
        font-size: 10px;
        margin-left: -10px;
    }
    .about-me {
        background-color: rgb(139, 13, 13);
        border-color:rgb(139, 13, 13);
        border-style: none;
        color: rgb(153, 153, 153);
        font-size: 10px;
        margin-left: -6px;
    }
    .profile-img {
        width: 40px;
        height: 40px;
        border-radius: 30px;
        margin-left: 4%;
        margin-top: 480px;
    }
    .main {
        margin-left: 90px;
        font-size: 13px;
        padding: 0px 10px;
        text-align: center;
        font-family: 'Dancing Script', cursive;
        color: white;
    }
    .meaning {
        margin-top: 40px;
        margin-left: 80px;
        color: white;
        font-size: 10px;
    }
    .Explanation {
        margin-right: 20px;
        margin-top: 50px;
    }
    .my-sketches {
        margin-left: 90px;
        font-size: 16px;
        padding: 0px 10px;
        text-align: center;
        font-family: 'Dancing Script', cursive;
        color: white;
    }
    .Sketches {
        margin-left: 17px;
        width: 250px;
        margin-top: 50px;
    }
    .picture-a {
        margin-left: 95px;
        width: 250px;
        margin-bottom: 20px;
    }
    .picture-b {
        width: 250px;
        margin-left: 95px;
        margin-bottom: 20px;
    }
    .picture-c {
        margin-left: 200px;
        width: 250px;
        margin-left: 95px;
        margin-bottom: 20px;
    }
    .picture-d {
        margin-left: 95px;
        width: 250px;
        margin-bottom: 20px;
    }
    .picture-e {
        margin-left: 95px;
        width: 250px;
        margin-bottom: 20px;
    }
    .picture-f {
        margin-left: 95px;
        width: 250px;
        margin-bottom: 100px;
    }
    hr {
        height: 10px;
        width: 260px;
        margin-left: 80px;
        background-color: rgb(56, 44, 44);
    }
    .Github-footer {
        width: 40px;
        height: 40px;
        border-radius: 360px;
        float: center;
        margin-left: 50%;
        margin-right: 45%;
        margin-bottom: -20px;
        margin-top: 30px;
    }
    .Facebook-Account-mine {
        border-radius: 2000px;
        width: 40px;
        margin-left: 34%;
        margin-top: -200px;
        box-shadow: 0 20px 20px -17px rgb(252, 252, 252);
    }
    .Instagram-Account-mine {
        border-radius: 2000px;
        width: 40px;
        margin-left: 65%;
        margin-top: -190px;
        box-shadow: 0 20px 20px -17px rgb(253, 0, 0);
    }

}